<section>
  <!-- Add expense button -->
  <div class="d-flex justify-content-between">
    <div>
      <h2>
        <a [routerLink]="['/admin/product/add']">
          <img src="/assets/icons/add-blue.svg" class="action-icons" alt="" />
          <span class="ml-2 pt-4 mt-4">Add Product</span>
        </a>
      </h2>
    </div>
  </div>
  <!-- Expense table -->
  <div class="table-container" *ngIf="dataSource">
    <div *ngIf="dataSource.length === 0" class="card text-center p-4">
      <div class="h2">No record found.</div>
    </div>

    <table
      *ngIf="dataSource.length"
      mat-table
      [dataSource]="dataSource"
      
    >
      <!-- No -->
      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.no }}</td>
      </ng-container>

      <!-- Product Name-->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- CP Price -->
      <ng-container matColumnDef="cpPrice">
        <th mat-header-cell *matHeaderCellDef>CP Price</th>
        <td mat-cell *matCellDef="let element">{{ element.cpPrice }}</td>
      </ng-container>

      <!-- Stock -->
      <ng-container matColumnDef="stock">
        <th mat-header-cell *matHeaderCellDef>Stock</th>
        <td mat-cell *matCellDef="let element">{{ element.stock }}</td>
      </ng-container>

      <!-- Action -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <span class="mr-3">
            <a [routerLink]="['/admin', 'product', 'edit', element.no]">
              <img class="action-icons" src="/assets/icons/edit.svg" alt="" />
            </a>
          </span>
          <span>
            <a (click)="onDelete(element.no)">
              <img class="action-icons" src="/assets/icons/trash.svg" alt="" />
            </a>
          </span>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      (page)="changePage($event)"
      [length]="paginationObj.length"
      [pageSize]="paginationObj.pageSize"
      [pageSizeOptions]="paginationObj.pageSizeOptions"
    >
    </mat-paginator>
  </div>
</section>
