/* You can add global styles to this file, and also import other style files */
@import "src/assets/scss/index";
@import "./../theme.scss";

html,
body {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 0.875px;
  font-weight: 300;
  line-height: 18px;
  font-style: normal;
  font-family: "Montserrat" monospace;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0;
}

h1 {
  font-size: 2.25rem !important;
  font-weight: 800;
  line-height: 36px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 30px;
}

h3 {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 23px;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
}

h5 {
  font-size: 0.875px;
  font-weight: 300;
  line-height: 18px;
}

h6 {
  font-size: 0.875px;
  font-weight: 300;
  line-height: 18px;
  text-transform: uppercase;
}

p,
a {
  font-size: 1rem;
  font-weight: 400;
  line-height: 18px;
}
a {
  color: $primary !important;
}

@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1600px !important;
  }
}

.btn-primary {
  border-radius: 50px !important;
  background-color: $primary !important;
  padding: 10px !important;
  &:hover,
  &:active,
  &:focus {
    background-color: $primary !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.icons {
  width: 40px;
  height: 40px;
}

.table-container {
  display: flex;
  flex-direction: column;
  max-height: 800px;
  min-width: 300px;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  font-size: 1rem;
}

.mat-table-sticky {
  background-color: $grey-200;
}

.mat-table {
  max-height: 70vh;
  overflow-x: auto;
  display: block;
  border: 1px solid $grey-200;
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  // padding: 0px 20px;
  line-break: unset;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}
.mat-row,
.mat-header-row {
  display: table-row;
}

.section-container {
  width: 500px;
}
