th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    padding: 0 40px !important;
}
a img {
    height: 20px;
    width: 20px;
}
.action-icons {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
